body {
    background-color: #fff9f9;
}

.navbar-brand>img {
    width: 50px;
}

.dropdown-item>img {
    width: 30px;
}

.kategoriler {
    background-color: #fff9f9;
}

.carousel-indicators {
    margin-bottom: -20px !important;
    scale: 2;
}

.carousel-caption {
    padding: 5px;
    margin-bottom: -30px;
}

.guncel-firsatlar h1 {
    color: crimson !important;
}

.fenomen-kart-resim {
    margin-top: 10px;
}

.fenomen-urunler .carousel-control-prev-icon,
.fenomen-urunler .carousel-control-next-icon {
    border-radius: 25%;
    background-color: #ff0000;
}

.fenomen-urunler .carousel-control-prev,
.fenomen-urunler .carousel-control-next {
    width: 6%;
}

.onecikan-con-ic {
    height: auto;
    border-radius: 10px;
    transition: 0.2s;
}

.onecikan-con-ic .card-body .row:hover {
    background-color: #FFC52F;
    cursor: pointer;
}

.onecikan-con-ic:hover {
    height: auto;
    border-radius: 10px;
    background-color: rgb(95, 95, 95) !important;
}

.onecikan-con-ic-1 {
    position: relative;

    border-radius: 10px;
}



.onecikan-con-ic-2 .card {
    background-color: rgb(238, 187, 187);
    border: none;
}




@media screen and (max-width:767px) {

    .carousel-indicators {
        margin-bottom: -20px !important;
        scale: 1.7;
    }
}

@media screen and (max-width:575px) {

    .kart-4lu-con {
        width: 100% !important;
    }

    .carousel-indicators {
        margin-bottom: -20px !important;
        scale: 1.5;
    }


}

/* 5 li Beğenme Yıldızları */
.begeni-yildiz>svg {
    width: 35px;
}

.begeni-yildiz>svg:hover .yildiz-ic {
    cursor: pointer;
    fill: #FFC52F !important;
}

.begeni-yildizi-5li {
    width: fit-content;
    transform: rotateY(180deg);
}

#begeni-yildiz5:hover~#begeni-yildiz4 .yildiz-ic,
#begeni-yildiz5:hover~#begeni-yildiz3 .yildiz-ic,
#begeni-yildiz5:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz5:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz4:hover~#begeni-yildiz3 .yildiz-ic,
#begeni-yildiz4:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz4:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz3:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz3:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz2:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}


.markalar-con>img {
    width: 130px !important;
    margin: 0.5rem 0.1rem;
    border-radius: 100%;

}

.markalar-con>img:hover {
    cursor: pointer;
    scale: 1.5;
    transition: 0.3s;
}

.markalar-carousel .carousel-control-prev-icon,
.markalar-carousel .carousel-control-next-icon {
    border-radius: 25%;
    background-color: #ff0000;
}

.markalar-carousel .carousel-control-prev,
.markalar-carousel .carousel-control-next {
    background-color: rgba(216, 216, 216, 0);
    width: 5%;
    border-radius: 10px;
}

.footer-kol-1 a {
    text-decoration: none;
    color: gray;
}

.footer-kol-1 a:hover {
    text-decoration: none;
    color: rgb(208, 208, 208);
}

.footer-kol-2 a {
    text-decoration: none;
    color: gray;
}

.footer-kol-2 a:hover {

    color: rgb(208, 208, 208);
}

.footer-kol-3 .svg-con {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-kol-3 svg {
    width: 15px;
    height: 15px;
}

.footer-kol-3 a {
    text-decoration: none;
    color: gray;
}

.footer-kol-3 a:hover {

    color: rgb(208, 208, 208);
}

.app-list>li:hover div {
    color: rgb(238, 237, 237) !important;
}

.urun-caro-con {
    background-color: white;
}

.urun-caro-con .carousel-control-prev-icon,
.urun-caro-con .carousel-control-next-icon {
    border-radius: 25%;
    background-color: #ff0000;
}

.urun-caro-con .carousel-control-prev,
.urun-caro-con .carousel-control-next {
    background-color: rgba(216, 216, 216, 0);
    width: 5%;
    border-radius: 10px;
}

.links-con:hover span {
    color: #ff0000;
}

.links-con a {
    text-decoration: none;
    color: #aa0000;
    transition: .5s;
    padding-inline: 3px;
    font-size: 12px;
}

.links-con a:hover {
    text-decoration: none;
    color: #f9f9f9;    
    border-radius: 5px;
    background-color: #DC3545;
}

#urun_id_fiyat{
    font-size: 40px;
}

.ozet-ozellikler{
    font-size: 13px;
}

.satinal-con .urun-renk:hover{    
    scale: 1.1;
    cursor: pointer;
    transition: .3s;
}

.sepet-ekle-con{
    border-radius: 10px;
    background-color: rgb(224, 255, 213);
}

.satinal-miktar{
    padding: 0px;
    width: 100px;
    height: 40px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;    
}

#urun-id-miktar{
    width: 30px;
    height: 30px;
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.satinal-miktar>.azalt{
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 0px;
    border-radius: 50%;    
}

.satinal-miktar>.azalt:hover{
    background-color: crimson;
    fill: white;
}

.satinal-miktar>.artir{
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 0px;
    border-radius: 50%;    
}

.satinal-miktar>.artir:hover{
    background-color: crimson;
    fill: white;
}

.satinal-miktar:active #urun-id-miktar{    
    scale: 1.3;
}

.satin-al-button{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: crimson;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
    fill: #f9f9f9;
    border-radius: 10px;
}

.satin-al-button:hover{
    cursor: pointer;
    letter-spacing: 2px;
    transition: .3s;
}

.satin-al-button:active{
    cursor: pointer;    
    transition: .01s;
    background-color: rgb(255, 157, 0);
}

.satin-al-button p {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
}

/* 5 li Beğenme Yıldızları */
.begeni-yildiz-urun>svg {
    width: 17px;
}

.begeni-yildiz-urun>svg .yildiz-ic {
    cursor: pointer;
    fill: #FFC52F !important;
}

.begeni-yildizi-5li-urun {
    width: fit-content;
    transform: rotateY(180deg);
}

#begeni-yildiz5-urun:hover~#begeni-yildiz4 .yildiz-ic,
#begeni-yildiz5-urun:hover~#begeni-yildiz3 .yildiz-ic,
#begeni-yildiz5-urun:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz5-urun:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz4-urun:hover~#begeni-yildiz3 .yildiz-ic,
#begeni-yildiz4-urun:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz4-urun:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz3-urun:hover~#begeni-yildiz2 .yildiz-ic,
#begeni-yildiz3-urun:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

#begeni-yildiz2-urun:hover~#begeni-yildiz1 .yildiz-ic {
    fill: #FFC52F !important;
}

.degerlendirme-text{
    font-size: 12px;
}

.benzer-urun:hover{
    scale: 1.1;
    cursor: pointer;
    transition: .3s;
}

.benzer-urun-resim-con{
    width: 100px;
    height: 100px;
}

.yildiz5-bar{
    height: 9px;
    border: 1px solid crimson;
}

.yildiz5-bar-deger{
    height: 5px;
    background-color: crimson;
}